<div class="panel panel-info" style="min-height: 300px">
    <div class="panel-heading">
        <h3 class="panel-title">State Characteristics</h3>
        <span class="pull-right collapsePanel" style="margin-top: -20px; cursor:pointer"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>


    <div class="panel-body">
        <div class="row">
            <label class="col-sm-3 control-label">Population:</label>
            <div class="col-sm-9">
                <input type="hidden" value="1000" id="State_Characteristics_Population"/>
                1000
            </div>
        </div>

        <div class="row">
            <label class="col-sm-3 control-label">Student Count:</label>
            <div class="col-sm-9">
                <input type="hidden" value="100" id="State_Characteristics_StudentCount" />
                100
            </div>
        </div>

        <div id="populationGraph" class="pull-right" style="height:300px; width:600px"></div>

    </div>
</div>


<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(leadContactFrm)" [formGroup]="leadContactFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">sssss</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Full name*</span>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">
                </div>
                <div>
                    <span>Full name</span>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="leadContactFrm.invalid" class="btn btn-primary"><!--{{modalBtnTitle}}--></button>
            </div>
        </modal-footer>
    </form>
</modal>