<div class="panel panel-info" style="min-height: 300px">
    <div class="panel-heading">
        <h3 class="panel-title">Location</h3>
        <span class="pull-right collapsePanel" style="margin-top: -20px; cursor:pointer"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body" >
        <div class="row " style="padding-bottom:10px">
            <div class="col-sm-2">
                <div class="btn btn-default">Add <i class="glyphicon glyphicon-plus"></i></div>
            </div>
        </div>
        <div *ngIf='locations && locations.length==0' class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> No locations found!
        </div>

        <div *ngFor="let location of locations; let i = index">
            <div class="row">
                <label class="col-sm-3 control-label">Building:</label>
                <div class="col-sm-9">
                    {{location.Building}}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label">Address 1:</label>
                <div class="col-sm-9">
                    {{location.Address1}}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label">Address 2:</label>
                <div class="col-sm-9">
                    {{location.Address2}}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label">City:</label>
                <div class="col-sm-9">
                    {{location.City}}
                </div>
            </div>
            <div class="row">

                <label class="col-sm-3 control-label">Zipcode:</label>
                <div class="col-sm-9">
                    {{location.Zipcode}}
                </div>
            </div>

            <button title="Edit" class="btn btn-primary">Edit</button>
            <button title="Delete" class="btn btn-danger">Delete</button>
            <hr *ngIf='locations.length - 1 != i' style="border-width:5px" />
        </div>
    </div>
</div>


<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(leadContactFrm)" [formGroup]="leadContactFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">sssss</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Full name*</span>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">
                </div>
                <div>
                    <span>Full name</span>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="leadContactFrm.invalid" class="btn btn-primary"><!--{{modalBtnTitle}}--></button>
            </div>
        </modal-footer>
    </form>
</modal>